/* Book Detail Inventory Correction inLine Edit */
.inventoryCorrectionInLineFormat .p-inputtext {
    padding: 0.35rem;
}

.plusMinusButtonsForInventoryCorrection .p-button.p-button-icon-only {
    width: 2rem;
    height: auto;
}