/* Book Detail Inventory Correction inLine Edit */
.inventoryCorrectionInLineFormat .p-inputtext {
    padding: 0.4rem;
}

.plusMinusButtonsForInventoryCorrection .p-button.p-button-icon-only {
    width: 2rem;
    height: 2.3rem;
}