/* Book Add */
.integerNumbeBookAdd .p-inputtext {
    padding: 0.25rem 0.25rem;
    width: 70px;
    font-size: small;
}

.decimalNumberBookAdd .p-inputtext {
    padding: 0.15rem 0.15rem;
    width: 60px;
    font-size: small;
}

.retailNumberBookAdd .p-inputtext {
    padding: 0.15rem 0.15rem;
    width: 80px;
    font-size: small;
}

.genreDropdown .p-inputtext {
    font-size: small;
}

.deleteButton .p-button {
    width: 10;
    height: 10;
}

/* Book Detail */
.editorBookDetail .p-inputtext {
    padding: 0.15rem 0.15rem;
    width: 80px;
}

.addPageImportIcon .pi {
    font-size: 0.8rem;
}

/* BB PO SR detail */
.integernumberPODetail .p-inputtext {
    width: 100px;
}

.retailnumberPODetail .p-inputtext {
    width: 175px;
}