/* Book Add */
.integerNumbeBookAdd .p-inputtext {
    padding: 0.25rem 0.25rem;
    width: 90px;
}

.decimalNumberBookAdd .p-inputtext {
    padding: 0.15rem 0.15rem;
    width: 70px;
}

.retailNumberBookAdd .p-inputtext {
    padding: 0.15rem 0.15rem;
    width: 90px;
}

/* BB PO SR detail */
.integernumberPODetail .p-inputtext {
    width: 100px;
}

.retailnumberPODetail .p-inputtext {
    width: 175px;
}