/* .custompanel.css */
.integernumber .p-inputtext {
    padding: 0.25rem 0.25rem;
    width: 90px;
}

.decimalnumber .p-inputtext {
    padding: 0.15rem 0.15rem;
    width: 70px;
}

.retailnumber .p-inputtext {
    padding: 0.15rem 0.15rem;
    width: 90px;
}